/*------- body setting------- */
body{
    color: black;
    background-color: rgb(221, 182, 135);
}

/*------- title setting------- */
header{
    text-align: center;  
}

header h1{
    background: rgb(184, 180, 180);
    padding: 21.44px 0; 
    margin: 0;
}


/* ------score bar setting-------*/
.score-bar{
    visibility: hidden;
}

/*------- main quiz section--------- */
.formBox{
    width: 40%;
    margin: auto;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(181, 206, 207);
    text-align: center;

}


img{
    max-width: 400px;
    max-height:300px;
}

/* ---------headding setting---------- */
label{
    word-wrap: break-word;
}

p{
    padding: 10px;
    flex-wrap: wrap;
}

h3{
    margin-top: 0;
}

/* ---------all hidden classes setting-------- */
.hidden{
    display: none;
}

/*-------- color setting----------- */
.blue{
    
    color: rgb(26, 127, 221);
}
.red{
    color:red;
}

/* ------------desktop -----------*/
@media only screen and (min-width: 720px) {
    /* -------position setting ------*/
    .left{
        text-align: left;
        margin-left: 12%;
    }
    .right{
        text-align: right;
        margin-right: 7%;
    }
    
}