/* -----mobile first --------*/
.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    width: 400px;
    height:300px;
    margin: 5px;
}

/*-------- desktop setting ---------*/
@media only screen and (min-width: 800px) {
    .group{
        flex-direction: row;    
        /* align-items: center;
        justify-content: center; */
    }
}

