/*------- body setting------- */
body{
    color: black;
    background-color: rgb(221, 182, 135);
}

/*------- title setting------- */
header{
    text-align: center;  
}

header h1{
    background: rgb(184, 180, 180);
    padding: 21.44px 0; 
    margin: 0;
}

/*------- main form section--------- */
form{
    margin:20px;
}

.formBox{
    width: 40%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(181, 206, 207);

}


/* ---------headding setting---------- */
label{
    word-wrap: break-word;
    display:block;
    padding:10px;
}

button{
    margin:10px;
}

p{
    padding: 10px;
    flex-wrap: wrap;
}

 /* --input setting--- */
 input{
    display:block;
    height: 30px;
    margin-left:10px;
    width: 80%;
}

::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-8px;
}

::-moz-placeholder { /* Firefox 19+ */
    white-space:pre-line;  
    position:relative;
    top:-8px;
}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
    position:relative;
    top:-8px;
}
:-moz-placeholder { /* Firefox 18- */
    white-space:pre-line;  
    position:relative;
    top:-8px;
}

/* -------image setting ----------*/

img{
    width: 400px;
    height:300px;
}

/* ---------all hidden classes setting-------- */
.hidden{
    display: none;
}

/*-------- color setting----------- */
.blue{
    
    color: rgb(26, 127, 221);
}
.red{
    color:red;
}

/* ------------desktop -----------*/
@media only screen and (min-width: 430px) {
    /* -------input setting ------*/
    input{
        width: 140px;
        height: initial;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        
        white-space:initial;  
        position:initial;
        top:initial;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        white-space:initial;  
        position:initial;
        top:initial;
   }
   :-ms-input-placeholder { /* IE 10+ */
        white-space:initial;  
        position:initial;
        top:initial;
   }
   :-moz-placeholder { /* Firefox 18- */
        white-space:initial;  
        position:initial;
        top:initial;
   }
}
